<html>
<body>
	{{#hasPrev}}
	<a href="/users/?page={{prevPage}}&size=5">Prev</a>
	{{/hasPrev}}
	{{#totalPages}}
	<a href="/users/?page={{.}}&size=5">{{.}}</a>
	{{/totalPages}}
	{{#hasNext}}
	<a href="/users/?page={{nextPage}}&size=5">Next</a>
	{{/hasNext}}
	
{{#page}}
	<h1> Estas viendo el user: {{id}} </h1>
	<p>Username: {{username}}</p>
	<p>Mail: {{mail}}</p>
	<p>Password: {{password}}</p>
	<a href="/">Back</a>
	<!--{{#follows}}
	<h1> Estas viendo el user: {{id}} </h1>
	<p>Username: {{username}}</p>
	<p>Mail: {{mail}}</p>
	<p>Password: {{password}}</p>
	<a href="/">Back</a>
	{{/follows}}
	{{#collection}}
	<h1> Estas viendo el user: {{id}} </h1>
	<p>Username: {{username}}</p>
	<p>Mail: {{mail}}</p>
	<p>Password: {{password}}</p>
	<a href="/">Back</a>
	{{/collection}}
	{{-index}}-->
{{/page}}
</body>
</html>