{{>header}}
<center>
</table>
    <h1> Estas viendo los posts de los usuarios que sigues </h1>
    <div class=tablaoverflowCesta>
    {{#page}}
    <table>
    <tbody>
	<tr>
	<td>
		{{#image}}
			<img src="/image/{{user.image.id}}" width=100px alt="FOTOPERFIL">
		{{/image}}
		{{^image}}
			<img src="/img/iconPost.png" width=50px alt="FOTOPERFIL">
		{{/image}}
		</td>
    	<td>
    	<a href="/search/0">
   			{{name}} FALTA ENLACE
   			</a>
    	</td>
    	<td>
   			{{price}}$
    	</td>
    </tr>
    </tbody></table>
	{{/page}}
	</div>
	{{#hasPrev}}
	<a href="/home/?page={{prevPage}}&size=5">Prev</a>
	{{/hasPrev}}
	{{#totalPages}}
	<a href="/home/?page={{.}}&size=5">{{.}}</a>
	{{/totalPages}}
	{{#hasNext}}
	<a href="/home/?page={{nextPage}}&size=5">Next</a>
	{{/hasNext}}
</center>
{{>footer}}