{{>header}}
<center>
<table>
	<tbody>
	<tr>
		<td rowspan="2">
			<img src="/img/iconConfig.png" width=100px alt="CONFIGURACION" title="Pinche aquí para ir a la configuracion">
		</td>
		<td>
   			Nombre:  
    	</td>
    	<td>
   			Apellidos:
    	</td>
    </tr>
    <tr>
		<td>
   			NUM SEGUIDORES 
    	</td>
    	<td>
   			NUM SEGUIDORES 
    	</td>
    </tr>
    <tr>
    	<td>
   			Username:
    	</td>
		<td>
   			NUM gfdhs
    	</td>
    	<td>
  			NUM seguidos 
    	</td>
    </tr>
    <tr>
    	<td colspan="3">
   			Descripción:
    	</td>
    </tr>
    <tr>
    	<td colspan="3">
   			<button type="button"class="uploadpic">SEGUIR // SUBIR POST</button> 
    	</td>
    </tr>
    
	</tbody>
</table>
<div class="tablaoverflow">
  <table>
    <tr>
      <th>
        MIS OBRAS
        <img src="/img/iconSumar.png" width=25px alt="CONFIGURACION" title="Pinche aquí para ir a la configuracion">
      </th>
      <th colwspan="3">
        COLECCION X
        <img src="/img/iconBasura.png" width=25px alt="CONFIGURACION" title="Pinche aquí para ir a la configuracion">
      </th>
    </tr>
    <tr>
    	<td colspan="3">
   			<button type="button"class="uploadpic">UN POST</button>
    	</td>
    </tr>
</table>
</div>
</center>
{{>footer}}