<html>
<head>
<link href="/style.css" rel="stylesheet"/>
<meta charset="UTF-8"/>
</head>
<body>
<div id="space">
<center>
<h1>UNIRSE</h1>
<form action="/user/logIn">
<table>
<tbody>
	<tr>
	<td>
		Usuario:
	</td>
	<td>
		<input type="text" placeholder="Nombre de usurario" name="username"/>
	</td>
	</tr>
	<tr>
	<td>
		Contraseña:
	</td>
	<td>
		<input type="password" placeholder="Contraseña" name="password"/>
	</td>
	</tr>
</tbody>
</table>
{{#hasFailed}}
<p>Usuario o contraseña incorrectos. Inténtelo de nuevo.</p>
{{/hasFailed}}
<button type="submit" class="uploadpic">UNIRSE</button>
</form>
  <a href="/user/create">
  <p> ¿No tienes cuenta?</p>
	</a>
</div>
</center>
{{>footer}}