{{>header}}
<center>
<table>
	<tbody>
	<tr>
		<td rowspan="2">
		{{#user.image}}
			<img src="/image/{{user.image.id}}" width=100px alt="FOTOPERFIL">
		{{/user.image}}
		{{^user.image}}
			<img src="/img/iconUser.png" width=100px alt="FOTOPERFIL">
		{{/user.image}}
		</td>
		<td>
   			<u>Nombre:</u> {{user.name}}
    	</td>
    	<td>
   			<u>Apellidos:</u> {{user.surname}}
    	</td>
    </tr>
    <tr>
		<td>
   			NUM SEGUIDOS
    	</td>
    	<td>
   			NUM SEGUIDORES 
    	</td>
    </tr>
    <tr>
    	<td>
   			<u>Usuario:</u> {{user.username}}
    	</td>
		<td>
   			{{follows}}
    	</td>
    	<td>
   			{{followers}}
    	</td>
    </tr>
    <tr>
    	<td colspan="3">
   			<u>Descripción:</u> {{user.description}}
    	</td>
    </tr>
    <tr>
    	<td colspan="3">
    	{{#isMine}}
   			<button type="button"class="uploadpic">SUBIR POST</button> 
    	{{/isMine}}
    	{{^isMine}}
    		{{#followed}}
   				<button type="button"class="uploadpic">DEJAR DE SEGUIR</button> 
    		{{/followed}}
    		{{^followed}}
   				<button type="button"class="uploadpic">SEGUIR</button> 
    		{{/followed}}
    	{{/isMine}}
    	</td>
    </tr>
    
	</tbody>
</table>
<div class="tablaoverflow">
  <table>
    <tr>
      <th>
      <a href="/user/{{user.id}}"> MIS OBRAS</a>
        <a href="/collection"><img src="/img/iconSumar.png" width=25px alt="NUEVA COLECCIÓN" title="Crear nueva colección"/></a>
      </th>
      
    {{#user.collections}}
      <th colspan="3">
        <a href="/user/{{user.id}}/?colId={{id}}"> {{name}}</a>
        <a href="/collection/{{id}}/delete"><img src="/img/iconBasura.png" width=25px alt="BORRAR" title="Eliminar colección"/></a>
      </th>
    {{/user.collections}}
    </tr>
    <tr>
    {{^selectedCol}}
    	{{#user.myPosts}}
    		<td colspan="3">
   				<p>{{name}}</p>
    		</td>
    	{{/user.myPosts}}
    	{{^user.myPosts}}
    		<td>
   				<p>Este usuario no posee posts actualmente.</p>
    		</td>
    	{{/user.myPosts}}
    {{/selectedCol}}
    {{#selectedCol}}
    	{{#posts}}
    		<td colspan="3">
   				<p>{{name}}</p>
    		</td>
    	{{/posts}}
    	{{^posts}}
    		<td>
   				<p>Esta coleccion no posee posts actualmente.</p>
    		</td>
    	{{/posts}}
    {{/selectedCol}}
    </tr>
</table>
</div>
</center>
{{>footer}}