{{>header}}
<center>
<table>
	<tbody>
	<tr>
		<td><a href="/search/0/?page=0&size=5">
			<button type="button"class="uploadpic">POST</button>
		</a></td>
		<td><a href="/search/1/?page=0&size=5">
   			<button type="button"class="uploadpic">COLLECTIONS</button>
		</a></td>
    	<td><a href="/search/2/?page=0&size=5">
   			<button type="button"class="uploadpic">USERS</button>
       	</a></td>
    </tr>
    </tbody>
</table>
    {{#post}}
    <h1> Estas viendo los posts </h1>
    <div class=tablaoverflowUsuarios>
    {{#page}}
    <table>
    <tbody>
	<tr>
	<td>
		{{#image}}
			<img src="/image/{{image.id}}" width=100px alt="FOTOPERFIL">
		{{/image}}
		{{^image}}
			<img src="/img/iconPost.png" width=50px alt="FOTOPERFIL">
		{{/image}}
		</td>
    	<td>
    	<a href="/post/{{id}}">
   			{{name}} FALTA ENLACE
   			</a>
    	</td>
    	<td>
   			{{price}}
    	</td>
    </tr>
    </tbody></table>
	{{/page}}
	</div>
	{{#hasPrev}}
	<a href="/search/0/?page={{prevPage}}&size=5">Prev</a>
	{{/hasPrev}}
	{{#totalPages}}
	<a href="/search/0/?page={{.}}&size=5">{{.}}</a>
	{{/totalPages}}
	{{#hasNext}}
	<a href="/search/0/?page={{nextPage}}&size=5">Next</a>
	{{/hasNext}}
    {{/post}}
    {{#collections}}
    <h1> Estas viendo las collections </h1>
    <div class=tablaoverflowUsuarios>
    {{#page}}
    <table>
    <tbody>
	<tr>
    	<td>
    	<a href="/user/{{owner.id}}/?colId={{id}}">
   			{{name}}
   			</a>
    	</td>
		<td>
   			{{description}}
    	</td>
    </tr>
    </tbody></table>
	{{/page}}
	</div>
    {{#hasPrev}}
	<a href="/search/1/?page={{prevPage}}&size=5">Prev</a>
	{{/hasPrev}}
	{{#totalPages}}
	<a href="/search/1/?page={{.}}&size=5">{{.}}</a>
	{{/totalPages}}
	{{#hasNext}}
	<a href="/search/1/?page={{nextPage}}&size=5">Next</a>
	{{/hasNext}}
    {{/collections}}
    {{#users}}
    <h1> Estas viendo los users </h1>
    <div class=tablaoverflowUsuarios>
    {{#page}}
    <table>
    <tbody>
	<tr>
		<td>
		{{#user.image}}
			<img src="/image/{{user.image.id}}" width=100px alt="FOTOPERFIL">
		{{/user.image}}
		{{^user.image}}
			<img src="/img/iconUser.png" width=50px alt="FOTOPERFIL">
		{{/user.image}}
		</td>
    	<td>
    	<a href="/user/{{id}}">
   			{{username}}
   			</a>
    	</td>
		<td>
   			{{follows}}
    	</td>
    	<td>
   			{{followers}}
    	</td>
    </tr>
    </tbody></table>
	{{/page}}
	</div>
    {{#hasPrev}}
	<a href="/search/2/?page={{prevPage}}&size=5">Prev</a>
	{{/hasPrev}}
	{{#totalPages}}
	<a href="/search/2/?page={{.}}&size=5">{{.}}</a>
	{{/totalPages}}
	{{#hasNext}}
	<a href="/search/2/?page={{nextPage}}&size=5">Next</a>
	{{/hasNext}}
    {{/users}}
    
</center>
{{>footer}}