<html>
<head>
<link href="/style.css" rel="stylesheet"/>
<meta charset="UTF-8"/>
</head>
<body>
<div id="space">
<center>
<h1>REGISTRARSE</h1>
<form action="/user/signIn" method="POST" enctype="multipart/form-data">
<table>
	<tbody>
     <tr>
	<td>
		Nombre: 
	</td>
	<td>
		<input type="text" placeholder="Nombre de usuario" name="name" required/>
	</td>
	</tr>
      <tr>
	<td>
		Apellidos:
	</td>
	<td>
		<input type="text" placeholder="Apellido de usuario" name="surname"/>
	</td>
	</tr>
      <tr>
	<td>
		Descripción: 
	</td>
	<td>
		<input type="text" placeholder="Descipción del usuario" name="description"/>
	</td>
	</tr>
	<tr>
	<td>
		Usuario: 
	</td>
	<td>
		<input type="text" placeholder="Nombre de usurario" name="username" required/>
	</td>
	</tr>
      <tr>
	<td>
		Imagen: 
	</td>
	<td>
		<input type="file" id="myFile" name="imagen"/>
	</td>
	</tr>
      <tr>
	<td>
		Correo:
	</td>
	<td>
		<input type="text" placeholder="Mail de usuario" name="mail" required/>
	</td>
	</tr>
      <tr>
	<td>
		Contraseña:
	</td>
	<td>
		<input type="password" placeholder="Contraseña de usuario" name="password" required/>
	</td>
	</tr>
  </tbody>
</table>
{{#hasFailed}}
<h2>Usuario o correo ya utilizados.</h2>
{{/hasFailed}}
<button type="submit" class="uploadpic">REGISTRARSE</button>
</form>
</center>
{{>footer}}