{{>header}}
<body>
<!-- Imagen central-->
    <hr>
    {{#ArtPost.image}}
		<h2><center><img src="/image/{{id}}" class="image" alt="FOTOPOST"></center></h2>
	{{/ArtPost.image}}
	{{^ArtPost.image}}
		<h2><center><img src="/img/iconPost.png" class="image" alt="FOTOPOST"></center></h2>
	{{/ArtPost.image}}
	<p>Nombre: {{ArtPost.name}}</p>
	{{#ArtPost.description}}
	<p>Descripción: {{ArtPost.description}}</p>
	{{/ArtPost.description}}
    <p>Precio: {{ArtPost.price}} €</p>
    <p>De: {{ArtPost.owner.username}}</p>
    <p>Fecha: {{ArtPost.date}}</p>
    <!-- seleccionar coleccion-->
    <form action="/post/{{ArtPost.id}}/add">
    <select name="colId">
  		<option value="0" selected>Seleccione una colección</option>
  		{{#myCollections}}
  		<option value="{{id}}">{{name}}</option>
  		{{/myCollections}}
	</select>
	<button class="button" type="submit">Guardar</button>
	</form>
    <!-- hacer comentario-->
    <form action="/post/{{ArtPost.id}}/comment/new" method="POST">
    <label for="PostArtName"><b>Haz un comentario</b></label>
    <input type="text" placeholder="Comenta desde tu cuenta..." name="description" id="PostArtName" required/><button class="button" type="submit">Comentar</button></input>
 	</form>
 	<p>Comentarios:</p>
    {{#ArtPost.postComments}}
    <p>Usuario: {{owner.username}}</p>
    <p>{{description}}</p>
    <p>Fecha: {{commentDate}}</p>
    <a href="/post/{{ArtPost.id}}/comment/{{id}}/delete"><img src="/img/iconBasura.png" width=25px alt="BORRAR" title="Eliminar comentario"/></a>
    <br>
    {{/ArtPost.postComments}}
    {{^isMine}}
    {{^isBought}}
  	<!-- Botón para meter el post en la cesta-->
    <button type="button" class="uploadpic" onclick="location.href='/post/{{ArtPost.id}}/addToShopping'">COMPRAR</button>
    {{/isBought}}
    {{/isMine}}
    {{#isMine}}
    <!-- Botón para editar el post-->
    <button type="button" class="uploadpic" onclick="location.href='/post/{{ArtPost.id}}/edit'">EDITAR</button>
    {{/isMine}}
  </div>
  <!-- Enlace a crearse un perfil-->
  <div class="container create">
    <p><a href="/">Volver a la página principal</a></p>
  </div>
{{>footer}}