{{>header}}
<form action="/collection/new" method="POST">
  <div class="container">
    <!-- Titulo-->
    <h1><center>¡Crea una colección!</center></h1>
    <hr>
    <!-- Nombrar colección-->
    <label for="CollectionName"><b>Nombre</b></label>
    <input type="text" placeholder="Nombra la colección" name="name" id="CollectionName" required/>
	<!-- Describir colección-->
    <label for="CollectionDescription"><b>Descripción:</b></label>
	<textarea placeholder="Describe tu colección" name="description" cols="50" rows="3" id="CollectionDescription"></textarea></p>
    <!-- Botón para subir el post-->
    <button type="submit" class="uploadpic">CREAR</button>
  </div>
  <input type="hidden" name="_csrf" value="{{token}}" />
</form>
{{>footer}}