{{>header}}
  <div class="container">
    <!-- Titulo-->
    <h1><center>Edita tu Obra</center></h1>
    <form action="/post/{{thisArtPost.id}}/edit/confirm" method="POST">
    <!-- Imagen central-->
    <hr>
    {{#thisArtPost.image}}
		<h2><center><img src="/image/{{id}}" class="image" alt="FOTOPOST"></center></h2>
	{{/thisArtPost.image}}
	{{^thisArtPost.image}}
		<h2><center><img src="/img/iconPost.png" class="image" alt="FOTOPOST"></center></h2>
	{{/thisArtPost.image}}
	 <!-- Nombrar imagen-->
    <label for="PostArtName"><b>Nombre:</b></label>
    <input type="text" value="{{thisArtPost.name}}" name="name" id="PostArtName" required/>
	<!-- Descripcion imagen-->
    <label for="PostArtDescription"><b>Descripción:</b></label>
    <textarea cols="50" rows="3" name="description" id="PostArtDescription">{{#thisArtPost.description}}{{.}}{{/thisArtPost.description}}</textarea>
    <!-- Precio imagen-->
    <label for="PostArtPrice"><b>Precio:</b></label>
    <input type="number" value="{{thisArtPost.price}}" name="price" id="PostArtPrice" required/>
	<!-- Cambiar el post-->
    <button type="submit" class="uploadpic">CAMBIAR</button>
    <input type="hidden" name="_csrf" value="{{token}}" />
  	</form>
  	<!-- Eliminar el post-->
    <button type="submit" class="uploadpic" onclick="location.href='/post/{{thisArtPost.id}}/delete'">ELIMINAR</button>
  </div>

  <!-- Enlace a crearse un perfil-->
  <div class="container create">
    <p>Don´t have an account yet? <a href="#">Create account</a>.</p>
  </div>
  {{>footer}}
