{{>header}}
<center>
<form action="/user/{{id}}/edit/confirm" method="POST" enctype="multipart/form-data">
<table>
	<tbody>
     <tr>
	<td id="registrarse">
		Nombre:
	</td>
	<td id="registrarse">
		<input type="text" value="{{#user.name}}{{user.name}}{{/user.name}}" name="name"/>
	</td>
	</tr>
      <tr>
	<td id="registrarse">
		Apellidos:
	</td>
	<td id="registrarse">
		<input type="text" value="{{#user.surname}}{{user.surname}}{{/user.surname}}" name="surname"/>
	</td>
	</tr>
      <tr>
	<td id="registrarse">
		Descripción:
	</td>
	<td id="registrarse">
		<textarea cols="50" rows="3" name="description">{{#user.description}}{{user.description}}{{/user.description}}</textarea>
	</td>
	</tr>
	<tr>
	<td id="registrarse">
		Usuario:
	</td>
	<td id="registrarse">
		<input type="text" value="{{user.username}}" name="username" required/>
	</td>
	</tr>
      <tr>
	<td id="registrarse">
		Imagen: 
	</td>
	<td id="registrarse">
		<input type="file" id="myFile" name="imagen" accept=".jpg, .jpeg, .png">
	</td>
	</tr>
      <tr>
	<td id="registrarse">
		Correo:
	</td>
	<td id="registrarse">
		<input type="text" value="{{user.mail}}" name="mail" required/>
	</td>
	</tr>
      <tr>
	<td id="registrarse">
		Contraseña:
	</td>
	<td id="registrarse">
		<input type="password" name="password"/>
	</td>
	</tr>
  </tbody>
</table>
<table>
<tbody>
<tr>
<td id="registrarse">
	<button type="submit" class="uploadpic">CAMBIAR</button>
	<input type="hidden" name="_csrf" value="{{token}}" />
	</form>
</td>
<td id="cerrarsesion">
	<form action="/user/signOut" method=POST>
		<input type="hidden" name="_csrf" value="{{token}}" />
		<button type="submit" class="uploadpic">CERRAR SESIÓN</input>
	</form>
</td>
</tr><tr>
<td colspan="2" id="eliminarcuenta">
<button type="button" class="uploadpic" onclick="location.href='/user/{{user.id}}/delete'">ELIMINAR CUENTA</button>
</td>
<tr>
</tr>
</tbody>
</table>
</center>
{{>footer}}