<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css" />
<link rel="icon" href="/img/icon.png">
<title>PoshArt</title>
<meta charset="UTF-8"/>
</head>
<body>
<header>
<a href="/">
	<img class="iconheader" src="/img/icon.png" alt="POSHART">
</a>
	<a href="/">
		<img class="iconheader" src="/img/iconHome.png" alt="HOME" title="Pinche aquí para ver su feed">
	</a>
  <a href="/search/0/?page=0&size=5">
		<img class="iconheader" src="/img/iconSearch.png" alt="SEARCH" title="Pinche aquí para buscar productos">
	</a>
  <a href="/shopping">
		<img class="iconheader" src="/img/iconShopping.png"  alt="SHOPPING" title="Pinche aquí para ir al carro de la compra">
	</a>
  <a href="/checkUser">
		<img class="iconheader" src="/img/iconUser.png" alt="MY MURO" title="Pinche aquí para ir a su muro">
	</a>
  <a href="/editUser">
		<img class="iconheader" src="/img/iconConfig.png"  alt="CONFIGURACION" title="Pinche aquí para ir a la configuracion">
	</a>
</header>
<div class = cuerpo>