{{>header}}
<center>
<table>
	<tbody>
	<tr>
		<td rowspan="2">
		{{#user.image}}
			<img src="/image/{{user.image.id}}" width=100px alt="FOTOPERFIL">
		{{/user.image}}
		{{^user.image}}
			<img src="/img/iconUser.png" width=100px alt="FOTOPERFIL">
		{{/user.image}}
		</td>
		<td>
   			<u>Nombre:</u> {{#user.name}}{{user.name}}{{/user.name}}
    	</td>
    	<td>
   			<u>Apellidos:</u> {{#user.surname}}{{user.surname}}{{/user.surname}}
    	</td>
    </tr>
    <tr>
		<td>
   			NUM SEGUIDOS
    	</td>
    	<td>
   			NUM SEGUIDORES 
    	</td>
    </tr>
    <tr>
    	<td>
   			<u>Usuario:</u> {{user.username}}
    	</td>
		<td>
   			{{user.countFollows}}
    	</td>
    	<td>
   			{{user.countFollowers}}
    	</td>
    </tr>
    <tr>
    	<td colspan="3">
   			<u>Descripción:</u> {{#user.description}}{{user.description}}{{/user.description}}
    	</td>
    </tr>
    <tr>
    	<td colspan="3">
    	{{#isMine}}
   			<button type="button" class="uploadpic" onclick="location.href='/post/createPost'">SUBIR POST</button> 
    	{{/isMine}}
    	{{^isMine}}
    		{{#followed}}
   				<button type="button"class="uploadpic" onclick="location.href='/user/{{user.id}}/unfollow'">DEJAR DE SEGUIR</button> 
    		{{/followed}}
    		{{^followed}}
   				<button type="button"class="uploadpic" onclick="location.href='/user/{{user.id}}/follow'">SEGUIR</button> 
    		{{/followed}}
    	{{/isMine}}
    	</td>
    </tr>
	</tbody>
</table>
<div class="tablaoverflow">
  <table>
  <tbody>
      <tr id="tabla">
      <td>
      <a href="/user/{{user.id}}">OBRAS</a>
      {{#isMine}}
        <a href="/collection"><img src="/img/iconSumar.png" width=25px alt="NUEVA COLECCIÓN" title="Crear nueva colección"/></a>
      {{/isMine}}
      </td>
    {{#user.collections}}
      <td>
        <a href="/user/{{user.id}}/?colId={{id}}"> {{name}}</a>
        {{#isMine}}
        <a href="/collection/{{id}}/edit"><img src="/img/iconEdit.png" width=25px alt="EDITAR" title="Editar colección"/></a>
        <a href="/collection/{{id}}/delete"><img src="/img/iconBasura.png" width=25px alt="BORRAR" title="Eliminar colección"/></a>
        {{/isMine}}
      </td>
     {{/user.collections}}
     </tr>
  </tbody>
  </table>
</div>
<div class="tablaoverflowCesta">
  <table>
  <tbody>
    {{^selectedCol}}
    	{{#user.myPosts}}
    	
    <tr>
    		<td>
		{{#image}}
			<img src="/image/{{id}}" width=100px alt="FOTOPERFIL">
		{{/image}}
		{{^image}}
			<img src="/img/iconPost.png" width=50px alt="FOTOPERFIL">
		{{/image}}
		</td>
    		<td>
    		<a href="/post/{{id}}">
   				{{name}}
   			</a>
    		</td>
    		<td>
   				{{price}}
    		</td>
    		
    </tr>
    	{{/user.myPosts}}
    	{{^user.myPosts}}
    		<td>
   				<p>Este usuario no posee posts actualmente.</p>
    		</td>
    	{{/user.myPosts}}
    {{/selectedCol}}
    {{#selectedCol}}
    	{{#posts}}
    	<tr>
    	<td>
		{{#image}}
			<img src="/image/{{id}}" width=100px alt="FOTOPERFIL">
		{{/image}}
		{{^image}}
			<img src="/img/iconPost.png" width=50px alt="FOTOPERFIL">
		{{/image}}
		</td>
    		<td>
    		<a href="/post/{{id}}">
   				{{name}}
   			</a>
    		</td>
    		<td>
   				{{price}}
    		</td>
    		<td>
    		<a href="/post/{{id}}/remove/{{selectedCol.id}}"><img src="/img/iconBasura.png" width=25px alt="BORRAR" title="Eliminar colección"/></a>
    		</td>
    	</tr>
    	{{/posts}}
    	{{^posts}}
    		<td>
   				<p>Esta coleccion no posee posts actualmente.</p>
    		</td>
    	{{/posts}}
    {{/selectedCol}}
  </tbody>
</table>
</div>
</center>
{{>footer}}