{{>header}}
<form action="/post/newPost" method="POST" enctype="multipart/form-data">
  <div class="container">
    <!-- Titulo-->
    <h1><center>¡Enseña al mundo tu obra de arte!</center></h1>
    <!-- Buscar archivo para subir-->
    <label for="PostArtPicture"><b>Sube una foto:</b></label>
    <input type="file" id="myFile" name="imagen" accept=".jpg, .jpeg, .png" required>
    <br>
    <!-- Nombrar imagen-->
    <label for="PostArtName"><b>Nombre:</b></label>
    <input type="text" placeholder="Nombre de obra" name="name" id="PostArtName" required/>
	<!-- Descripcion imagen-->
    <label for="PostArtDescription"><b>Descripción:</b></label>
    <textarea placeholder="Descripción de obra" cols="50" rows="3" name="description" id="PostArtDescription"></textarea>
	<!-- Precio-->
    <label for="PostArtPrecio"><b>Precio:</b></label>
    <input type="number" placeholder="0" name="price" id="PostArtPrecio" required/>
	
    <!-- Botón para subir el post-->
    <button type="submit" class="uploadpic">SUBIR OBRA</button>
  </div>

  <!-- Enlace a crearse un perfil-->
  <div class="container create">
    <p>¿Aún no tienes una cuenta? <a href="/user/create">Crear cuenta</a>.</p>
  </div>
  <input type="hidden" name="_csrf"	value="{{token}}" />
</form>
{{>footer}}