<html>
<head>
<link href="/css/style.css" rel="stylesheet"/>
<meta charset="UTF-8"/>
</head>
<body>
<div id="space">
<center>
<h1>REGISTRARSE</h1>
<form action="/user/signIn" method="POST" enctype="multipart/form-data">
<table>
	<tbody>
     <tr>
	<td id="registrarse">
		Nombre: 
	</td>
	<td id="registrarse">
		<input type="text" placeholder="Nombre de usuario" name="name" required/>
	</td>
	</tr>
      <tr>
	<td id="registrarse">
		Apellidos:
	</td>
	<td id="registrarse">
		<input type="text" placeholder="Apellido de usuario" name="surname"/>
	</td>
	</tr>
      <tr>
	<td id="registrarse">
		Descripción: 
	</td>
	<td id="registrarse">
		<textarea placeholder="Descipción del usuario" cols="50" rows="3" name="description"></textarea>
	</td>
	</tr>
	<tr>
	<td id="registrarse">
		Usuario: 
	</td>
	<td id="registrarse">
		<input type="text" placeholder="Nombre de usurario" name="username" required/>
	</td>
	</tr>
    <tr>
	<td id="registrarse">
		Imagen: 
	</td>
	<td id="registrarse">
		<input type="file" id="myFile" name="imagen"/>
	</td>
	</tr>
      <tr>
	<td id="registrarse">
		Correo:
	</td>
	<td id="registrarse">
		<input type="text" placeholder="Mail de usuario" name="mail" required/>
	</td>
	</tr>
      <tr>
	<td id="registrarse">
		Contraseña:
	</td>
	<td id="registrarse">
		<input type="password" placeholder="Contraseña de usuario" name="password" required/>
	</td>
	</tr>
	<tr>
	<td colspan='2'>
	<button type="submit" class="uploadpic">REGISTRARSE</button>
	</td>
	</tr>
  </tbody>
</table>
<input type="hidden" name="_csrf" value="{{token}}" />
{{#hasFailed}}
<h2>Usuario o correo ya utilizados.</h2>
{{/hasFailed}}
</form>
</center>
{{>footer}}