{{>header}}
<body>
<center>
<!-- Imagen central-->
<table>
<tbody>
<tr>
<th rowspan="5">
    {{#ArtPost.image}}
		<h2><img src="/image/{{id}}" class="image" alt="FOTOPOST"></h2>
	{{/ArtPost.image}}
	{{^ArtPost.image}}
		<h2><img src="/img/iconPost.png" class="image" alt="FOTOPOST"></h2>
	{{/ArtPost.image}}
</th>
<td>
<p>Nombre: {{ArtPost.name}}</p>
</td>
</tr>
{{#ArtPost.description}}
<tr>
<td>
	<p>Descripción: {{ArtPost.description}}</p>
</td>
</tr>
{{/ArtPost.description}}
<tr>
<td>
 <p>Precio: {{ArtPost.price}} €</p>
</td>
</tr>
<tr>
<td>
<p>De: {{ArtPost.owner.username}}</p>
</td>
</tr>
<tr>
<td>
<p>Fecha: {{ArtPost.date}}</p>
</td>
</tr>
</tbody>
</table>
<hr>
    <!-- seleccionar coleccion-->
    <form action="/post/{{ArtPost.id}}/add">
    <select name="colId">
  		<option value="0" selected>Seleccione una colección</option>
  		{{#myCollections}}
  		<option value="{{id}}">{{name}}</option>
  		{{/myCollections}}
	</select>
	<button class="button" type="submit">Guardar</button>
	</form>
    <!-- hacer comentario-->
    <form action="/post/{{ArtPost.id}}/comment/new" method="POST">
    <label for="PostArtName"><b>Haz un comentario</b></label>
    <input type="text" placeholder="Comenta desde tu cuenta..." name="description" id="PostArtName" required/><button class="button" type="submit">Comentar</button></input>
 	<input type="hidden" name="_csrf" value="{{token}}" />
 	</form>
 	<h1>Comentarios:</h1>
    {{#comments}}
    <p>Usuario: <a href="/user/{{owner.id}}" >{{owner.username}}</a></p>
    <p>{{description}}</p>
    <p>Fecha: {{commentDate}}</p>
    <a href="/post/{{ArtPost.id}}/comment/{{id}}/delete"><img src="/img/iconBasura.png" width=25px alt="BORRAR" title="Eliminar comentario"/></a>
    <br>
    <hr>
    {{/comments}}
    {{^isMine}}
    {{^isBought}}
  	<!-- Botón para meter el post en la cesta-->
    <button type="button" class="uploadpic" onclick="location.href='/post/{{ArtPost.id}}/addToShopping'">COMPRAR</button>
    {{/isBought}}
    {{#isBought}}
  	<!-- Cuando se tiene el item en la cesta-->
    <button type="button" class="uploadpic" disabled>YA EN LA CESTA</button>
    {{/isBought}}
    {{/isMine}}
    {{#isMine}}
    <!-- Botón para editar el post-->
    <button type="button" class="uploadpic" onclick="location.href='/post/{{ArtPost.id}}/edit'">EDITAR</button>
    {{/isMine}}
  </div>
  <!-- Enlace a crearse un perfil-->
  <div class="container create">
    <p><a href="/">Volver a la página principal</a></p>
  </div>
</center>
{{>footer}}